{% extends "layout.html" %}

{% block content %}
    <h2>Generar Cotización</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.cliente.label }}: {{ form.cliente() }}
        </div>
        <div>
            {{ form.estilo.label }}: {{ form.estilo() }}
        </div>
        <div>
            {{ form.ancho.label }}: {{ form.ancho() }}
        </div>
        <div>
            {{ form.alto.label }}: {{ form.alto() }}
        </div>
        <div>
            {{ form.acabado.label }}: {{ form.acabado() }}
        </div>
        <div>
            {{ form.tipo_vidrio.label }}: {{ form.tipo_vidrio() }}
        </div>
        <div>
            {{ form.esmerilado.label }}: {{ form.esmerilado() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
